    <footer>
        <div class="container">
            <p>connect<span class="brandname-span">Me</span> Designs, copyright &copy; 2018</p>
        </div>
    </footer>
    <script src="js/main.js"></script>
    </body>
</html>