<% include partials/header %>

<header>
    <div class="container">
        <div class="brandname">
            <h1>connect<span class="brandname-span">Me</span></h1>
        </div>
        <nav>
            <ul>
                <li class="active"><a href="/index">Home</a></li>
                <li><a href="/register">Create Account</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="showcase">
    <div class="container">
        <h1>connect<span class="brandname-span">Me</span> to the World</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin mollis ullamcorper. 
            Morbi nec tortor ac tortor pretium feugiat. Fusce ut aliquet nulla. Maecenas a laoreet mauris.</p>
    </div>
</section>

 <section id="boxes">
     <div class="container">
         <div class="box">
            <i class="fas fa-user-friends"></i>
            <h3>Make Friends Easily</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin</p>
         </div>
         <div class="box">
            <i class="fas fa-bullhorn"></i>
            <h3>Share Your Thoughts</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin</p>
         </div>
         <div class="box">
            <i class="far fa-eye"></i>
            <h3>See What Others Are Saying</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin</p>
         </div>           
     </div>
 </section>

<% include partials/footer %>