<% include partials/header %>

<header>
        <div class="container">
            <div class="brandname">
                <h1>connect<span class="brandname-span">Me</span></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/register">Create An Account</a></li>
                    <li class="active"><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="main-login">
            <div class="container">
                <h1>Login</h1>
                <form action="/login" method="post">

                        <div class="form-field">
                            <input type="email" name="username" value="" placeholder="Email Address">
                        </div>
                        <div class="form-field">
                            <input type="password" name="password" value="" placeholder="Password">
                        </div>
                        <p>Not Registered? <span><a href="/register">Register</a></span></p>
                            <input type="submit" value="Login" class="button">
                </form>
            </div>
        </section>
<% include partials/footer %>