<% include partials/header %>

<!--Design your page here -->
<h1>Post page</h1>

<!-- Displays all the post in the database -->

<!-- Logout-->
<a href="/logout">Logout</a>

<% include partials/footer %>